* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Gabriela", "Rubik";
}

html {
  scroll-behavior: smooth;
}

h1,
h2 {
  color: #ffc107;
  font-weight: 700;
}

.verses {
  font-size: 1.08em;
  font-style: italic;
  font-weight: 500;
  padding: 5px;
}

li {
  padding: 5px;
}
